[submodule "jarvis"]
    path = packages/jarvis
  	url = https://github.com/rccyx/packages/jarvis.git

[submodule "powyx"]
    path = packages/powyx
  	url = https://github.com/rccyx/packages/powyx.git
