set autoindent
set boldtext
set casesensitive
unset mouse
set multibuffer
unset nonewlines
unset nowrap
unset regexp
set speller "aspell"
set suspend
set tabsize "4"
set tabstospaces
unset tempfile
unset wordbounds


