# always be explicit
registry=https://registry.npmjs.org/

# performance
prefer-offline=true
fetch-retries=2
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=10000

# correctness
engine-strict=true
strict-peer-deps=true
save-prefix=~
package-lock=true
lockfile-version=3

# security
ignore-scripts=false
audit=false
fund=false
sign-git-tag=true

# noise control
loglevel=warn
progress=false
update-notifier=false

# filesystem hygiene
cache=~/.cache/npm
tmp=~/.cache/npm/tmp

# permissions
unsafe-perm=false

# publishing defaults
access=public

# consistency across machines
init-author-name=rccyx
init-license=MIT
